<div>
    <div class = "form-group-import">
        To get your critter or bestiary from CritterDB:
        <ul>
            <li>
                For a single creature click on the down arrow in the upper right to expand, then select "Export", "Export to JSON", "CritterDB JSON", and copy to clipboard
            </li>
            <li>
                For an entire bestiary, open it and click the three-dots menu in the upper right, then select "Export", "CritterDB JSON", and copy to clipboard 
            </li>
        </ul>

        Paste the JSON into the box below, select whether you want to overwrite any existing compendia, and click "Import".
        
        <div class="import-options">CritterDB JSON</div>
        <textarea id="critterdb-json" name="critterdb-json" rows="4" cols="50"></textarea>
        <input type="checkbox" id="overwrite" name="overwrite">
        <label for="overwrite">Overwrite existing monsters in compendium</label>
        <input type="submit" value="Import">
    </div>
</div>